<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h3>Mes recettes</h3>
<button ion-button full (click)="goToAddRecipe()">Ajouter</button>
<div *ngIf="recipesLoaded"> 
    <ion-card *ngFor="let recipe of recipes">
        <!-- <img src="img/nin-live.png"/> -->
        <ion-card-content>
          <ion-card-title>
            {{recipe.title}}
            </ion-card-title>
          <p>
          avec plein de sauce et tout mdr
          </p>
        </ion-card-content>
      </ion-card>
  <ion-item *ngIf="recipes.length == 0">No recipes</ion-item>
</div>
</ion-content>
